<p class=<%=params[:theme] %>><%=@personal_info.first_name %></p>
<p><%=@personal_info.middle_name %></p>
<p><%=@personal_info.last_name %></p>
<% @personal_info.contact_infos.each do |contact_info| %>
    <p><%=contact_info.email %></p>
<% end %>

