<%= form_with model: @robot, url: place_robots_path, method: :post do |f| %>
  <div class="personal-info"
    <p>Robot Name: <%= f.text_field :robot_name, placeholder:"" %></p>
    <p>X: <%= f.number_field :x_coordinate, min: 0, max: 2, step: 1, required: true, placeholder:"" %></p>
    <p>Y: <%= f.number_field :y_coordinate, min: 0, max: 2, step: 1, required: true, placeholder:"" %></p>
    <p>Diection: <%= f.select :direction, options_for_select(%w[North East West South]) %></p>

  <%= f.submit %>
  </div>
<% end %>