<%params%>

<div class="personal-info">
<p>Name: <%=@robot.robot_name %> </p>
<p>Coordinates: <%=@robot.x_coordinate %>, <%=@robot.y_coordinate %></p>
<p>Direction: <%=@robot.direction %> </p>
<%= button_to "Move Robot", move_robot_path, method: :post %>
<%= button_to "Rotate Robot", rotate_robot_path, method: :post %>
</div>